
.btn-add {
    margin-bottom: 20px;;
  }
  
  .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .nav > li {
    position: relative;
    display: block;
  }
  .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
  }
  .nav > li > a:hover,
  .nav > li > a:focus {
    text-decoration: none;
    background-color: #eeeeee;
  }
  .nav > li.disabled > a {
    color: #777777;
  }
  .nav > li.disabled > a:hover,
  .nav > li.disabled > a:focus {
    color: #777777;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
  }
  .nav .open > a,
  .nav .open > a:hover,
  .nav .open > a:focus {
    background-color: #eeeeee;
    border-color: #337ab7;
  }
  .nav .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }
  .nav > li > a > img {
    max-width: none;
  }
  .nav-tabs {
    border-bottom: 1px solid #ddd;
  }
  .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
  }
  .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    font-size: 0.8rem;
  }
  .nav-tabs > li > a:hover {
    border-color: #eeeeee #eeeeee #ddd;
  }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
  }
  .nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
  }
  .nav-tabs.nav-justified > li {
    float: none;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
  }
  .nav-tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
  }
  @media (min-width: 768px) {
    .nav-tabs.nav-justified > li {
      display: table-cell;
      width: 1%;
    }
    .nav-tabs.nav-justified > li > a {
      margin-bottom: 0;
    }
  }
  .nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #ddd;
  }
  @media (min-width: 768px) {
    .nav-tabs.nav-justified > li > a {
      border-bottom: 1px solid #ddd;
      border-radius: 4px 4px 0 0;
    }
    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
      border-bottom-color: #fff;
    }
  }
  .nav-pills > li {
    float: left;
  }
  .nav-pills > li > a {
    border-radius: 4px;
  }
  .nav-pills > li + li {
    margin-left: 2px;
  }
  .nav-pills > li.active > a,
  .nav-pills > li.active > a:hover,
  .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #337ab7;
  }
  .nav-stacked > li {
    float: none;
  }
  .nav-stacked > li + li {
    margin-top: 2px;
    margin-left: 0;
  }
  .nav-justified {
    width: 100%;
  }
  .nav-justified > li {
    float: none;
  }
  .nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
  }
  .nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
  }
  @media (min-width: 768px) {
    .nav-justified > li {
      display: table-cell;
      width: 1%;
    }
    .nav-justified > li > a {
      margin-bottom: 0;
    }
  }
  .nav-tabs-justified {
    border-bottom: 0;
  }
  .nav-tabs-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
  }
  .nav-tabs-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus {
    border: 1px solid #ddd;
  }
  @media (min-width: 768px) {
    .nav-tabs-justified > li > a {
      border-bottom: 1px solid #ddd;
      border-radius: 4px 4px 0 0;
    }
    .nav-tabs-justified > .active > a,
    .nav-tabs-justified > .active > a:hover,
    .nav-tabs-justified > .active > a:focus {
      border-bottom-color: #fff;
    }
  }
  .tab-content > .tab-pane {
    display: none;
  }
  .tab-content > .active {
    display: block;
  }
  .nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  
  .aba {
    margin-top: 20px;
  }
  
  .aba label {
    margin-bottom: 10px;
  }

  a.linkTab {
    
  }

  .nav-tabs{
    margin-bottom: 20px;

  }

  .bandeira{
    width:20px !important;
    height: 20px !important;
    border-radius: 0 !important;
    opacity: 0.8;
  }

  a img.bandeira:hover{
    opacity: 1;
  }

  div.clientes{
    display: flex;
    flex-flow: row wrap;
    
  }

  div.clientes .cliente_item {
    border:1px solid #e6e6e6;
    width:250px;
    margin-right:10px;
    padding: 10px;
    align-self:center;
  }

  div.clientes .cliente_item i{
    float: right;
    opacity: 0.8;
    align-items:center;
    
  }

  div.clientes .cliente_item p{
    float:left;
    opacity: 0.8;
    align-items:center;
    
  }

  div.clientes .cliente_item i:hover{
    float: right;
    opacity: 1;
  }

  div.faqs{
    display: flex;
    flex-flow: row wrap;
    
  }

  div.faqs .faq_item {
    border:1px solid #e6e6e6;
    width:100%;
    margin-right:10px;
    padding: 10px;
    align-self:center;
  }

  div.faqs .faq_item i{
    
    opacity: 0.8;
    align-items:center;
    
  }
  div.faqs .faq_item p{
    float:left;
    opacity: 0.8;
    align-items:center;
    
  }

  div.faqs .faq_item i:hover{
    float: right;
    opacity: 1;
  }

  .excluir_item {
    float: right;
  }

  .form-control {
    height: 3rem !important;
  }

  .light-font .breadcrumb-item a,
  .light-font .breadcrumb-item::before {
  color: #fff; }
  .light-font .breadcrumb-item.active {
  color: #cfd8dc; }
  .breadcrumb {background-color: #2196f3;}

 .form-multiselect{
    display: block;
    width: 100%;
    padding: 0.875rem 1.375rem;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 }

 .title_section {
   border-bottom: 1px solid #ced4da ;
   color: #495057;
   margin-bottom: 25px;
   margin-top: 25px;
   font-weight: 400;
 }

 .title_sub_section {
   border-bottom: 1px solid #ced4da ;
   color: #495057;
   margin-bottom: 25px;
   margin-top: 25px;
   font-size: 0.8rem;
 }

 .imgTable {
  width: 60px !important;   
  height: 60px !important;   
}

.background {
  display: none;
}

.background.on {
  display: block;
}



.acoes{
  display: flex;
}

.txtitens{
  width: 100%;
  height: 50px;
  background: none;
  border: none;
}


.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}



/* The Close Button */
.close {
  float: right;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.hide{
  display: none;
}

p.obs {
  font-size: 10px;
}


.boxPermissao:nth-of-type(odd) {
  background-color:#F7F6F6;
  }
      
  .boxPermissao:nth-of-type(even) {
  background-color:#fff;
  }

  .boxPermissao {
    padding: 20px;
  }
  
  .loading-sync_pai {
    position:relative;
  }

  .loading-sync_pai form {
    position:relative;
  }

  .loading-sync {
    text-align: center;
    background-color: #fff;
    opacity: 0.8;
    position: absolute;

    width: 100%;
    height: 100%;
    z-index: 100;

  }

  .loading-sync h4 {
    margin-top: 10px;
  }